
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Model Binding Demo</h1>
            </hgroup>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <br />
        <br />
        <br />
        <span data-bind="text: FirstName"></span>
        <br /> 
        <span data-bind="text: LastName"></span>
        <br /> 
        <input type="button" value="Get Simple Results" data-bind="click: bindingPut" />
    </section>
</div>

@section scripts
{
    <script type="text/javascript">
        (function () {
            var vm = new ModelBindingViewModel();
            ko.applyBindings(vm);
        })();
    </script>
}

